body {
    background: green;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

div {
    width: 50vw;
    height: 50vh;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.first {
    background: rgba(255,255, 0);
    font-family: "Times", Arial, sans-serif;
}

.second {
    background: #FF0000;
}

.third {
    background: blue;
}