body {
    background: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: blueviolet;
}

p {
    background: yellow;
}

input {
    border: 3px solid black;
}

.hello {
    background: white;
}

#special {
    border: 2px solid rgb(170, 148, 190);
}
div p {
    font-size: 25px;
}

input[type=text] {
    background: gray;
}

div:nth-last-of-type(3n) {
    background: gray;
    font-size: 20px solid white;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border: 5px solid rgb(0, 0, 0);
}

