.antraste div h1, .antraste div div, .antraste div p {
    display: flex;
    justify-content: space-around;

}

.antraste h1 {
    text-align: center;
    width: 218px;
    height: 36px;
    background-color: #ffc045;
    font-size: 25px;
    line-height: 38px;
    color: #3d2514;
    font-weight: 500;
    font-family: "Bebas Neue";
    display: flex;
    align-items: center;

}

.antraste div {
    font-size: 50px;
    line-height: 38px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    text-align: center;
    margin-top: 40px;
    margin-left: 85px;
    position: flex;
    justify-content: center;



}


.antraste p {
    width: 1082px;
    height: 56px;
    font-size: 17px;
    line-height: 29px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-left: 50px;
    position: flex;

}


.three-row-burgers img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}