.reservation {
    position: relative;
}

.reservation form {
    text-align: center;
    margin-top: 130px;

}

.reservation input {
    width: 800px;
    padding: 24px;
    margin: auto;
    text-align: center;

}

.reservation .inputs {

    display: flex;
    flex-wrap: wrap;

}

.reservation .pic1 {
    position: absolute;
    top: 10px;
    left: 10px
}

.reservation .pic2 {
    position: absolute;
    bottom: 0;
    right: -10px;
}

