

@mixin fcc ($flex: flex, $vertival: center, $horizontal: center) {
    display: $flex;
    justify-content: $vertical;
    justify-items: $horizontal;
}

body {
    padding: 27px 400px;
}

header {
    @include scc;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: relative;


}

.choose {
    font-size: 12px;
    margin-left: 100px;



    a {
        color: #1f373d;
        margin-right: 30px;
        font-family: "Montserrat";
        font-weight: 700;

    }


}

.join-button {


    a {
        font-size: 12px;
        color: #1f373d;
        font-family: "Montserrat";
        font-weight: 700;


    }

    button {
        width: 145px;
        height: 40px;
        background-color: #ffcc01;
        border-radius: 5px;
        text-align: center;
        margin-left: 10px;
        color: #1f373d;
        font-family: "Montserrat";
        font-weight: 700;


    }
}



.modern-apartment {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: -75px;



    .big-block {
        width: 842px;
        height: 630px;
        background-color: #96bece;
        // @include fcc(flex,flex-end, flex-end); 
        // display: flex;
        // justify-content: flex-end;
        // align-items: flex-end;


        div {
            width: 590px;
            height: 80px;
            background-color: #ffcc01;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 80px;
            font-size: 18px;
            letter-spacing: 0px;
            color: #1f373d;
            font-weight: 600;
            font-family: "Montserrat";
        }
    }
}

.modern-apartment2 {
    position: absolute;
    top: 250px;
    left: 400px;

}

.modern-apartment2-titles {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;


    h2 {
        width: 565px;
        font-size: 62px;
        letter-spacing: -2px;
        line-height: 78px;
        color: #1f373d;
        font-weight: 600;
        font-family: "Montserrat";
        margin-bottom: 50px;
    }

    div {
        display: flex;


        input {
            width: 410px;
            font-size: 15px;
            letter-spacing: 0px;
            color: #919eb1;
            font-weight: 400;
            font-family: "Montserrat";
            border-radius: 0;
            border-style: none;
            padding: 20px 50px;


        }

        button {
            width: 115px;
            height: 70px;
            border-radius: 0px 5px 5px 0px;
            background-color: #ffcc01;
            font-size: 15px;
            letter-spacing: 0px;
            color: #1f373d;
            font-weight: 500;
            font-family: "Montserrat";
        }


    }

    .arrow-down {
        margin-top: 79px;
    }



}